* {
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: white;
  font-size: 10px;
  scroll-behavior: smooth;
}

nav {
  z-index: 1;
  display: flex;

  background-color: white;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px;
}
#nav-logo {
  float: left;
  /* border-radius: 50px; */
}
.hamburger {
  position: relative;
}
#hamburger-logo {
  float: right;
}
#hamburger-menu {
  background-color: transparent;
  position: absolute;
  
  right: 8rem;
  top: 0rem;
  transition: 10ms;
  /* border-radius: 15px; */
}
#hamburger-menu {
  display: none;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}
#hamburger-menu a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-family: "roboto";
  padding: 1em 2.5em;
}
#hamburger-menu a:hover {
  color: #0088cc;
  text-decoration: underline;
}
.home {
  /* position: sticky;
  top: 0px; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home button {
  margin-top: 4rem;
  padding: 1.5em 3em;
  border-style: none;
  border: 2px solid #00527b;
  border-radius: 50px;
  color: #00527b;
  font-weight: bold;
  cursor: pointer;  
}

button:active{
border-radius: 50px; 
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home h1 {
  font-family:'GILROY', "futura-black","apples script dem",'Times New Roman';
  font-size: 10em;
  /* margin-top: -10px; */
}
.home h2 {
  font-family: 'GILROY',"futura-black";
  font-weight: bolder;
  font-size: 4.6em;
  line-height: 50px;
}
.home p {
  font-family:'GILROY', "roboto";
  font-size: 1.6em;
  margin-top: 5rem;
}
.social-icon{
  display: none;
}
#about {
  padding: 6em;
  background-image: url("src/aboutBG.svg");
  background-size: contain;
}
#about h1 {
  color: white;
  font-size:48px;
  font-family: "Californian FB";
  padding-bottom: 20px;
}
#about p {
  color: white;
  font-size: 16px;
  font-family: "roboto";
}

#education {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin: 5em 10em;
  align-items: center;
}
.edu-details h1 {
  font-family: "Californian FB";
  font-size: 40px;
}
.edu-details p {
  font-family: "roboto";
  padding: 10px 10px;
}

#works {
  padding: 50px;
}
#works h1 {
  text-align: left;
  font-family: "Californian FB";
  font-size: 40px;
}
.works-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding-top: 50px;
}
#card-1{
  background-image: url("works/src/landingPage.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.card {
  border-radius: 20px;
}
.card-body {
  border-radius: 10px;
}
.card-tittle {
  padding: 5px;
  padding-left: 10px;
}
.card {
  margin: 10px;
}
.card-body {
  background-color: rgb(44, 44, 44);

  height: 250px;
  width: 350px;
}
.card-body:hover{
  box-shadow: 0px 0px 16px 0px rgb(202, 202, 202);
}
.card-tittle {
  font-size: 16px;
  font-family: "roboto";
}


#contact{
  font-size: 16px;
  color:white;
  /* height:200px; */
  /* padding: 50px 0px; */
  width: 100%;
  background-color: #00527b;
      display: flex;
 flex-direction: column;
align-items: center;
    padding: 50px;
  
}
#contact h1{
  font-size: 32px;
    margin-bottom: 40px
}
#contact p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px 0px;
}
form{
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .emailBox,
form .messageBox{
  
  height: 50px; 
width: 70%;
  border-style: none;
    padding: 0px 12px;
    margin:8px;
}
form .messageBox{
    height: 100px;
}


#contact button{
  margin-top: 10px;
  padding: 1em 2.5em;
  font-size: 16px;
}














/* for mobile view */

@media screen and (max-width: 500px) {
  #hamburger-menu {
    display: none;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: rgb(241, 241, 241);
    border: 2px solid rgb(190, 190, 190);
      
  }
  #hamburger-menu {
    position: absolute;
    
    right: 0rem;
    top: 5rem;
   
    /* border-radius: 15px; */
  }
  #hamburger-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .home {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0px 5px;
    padding-top: 100px;
  }
  .home button {
    display: flex;
    align-self: center;
    /* border-radius: 15px; */

    margin-top: 5rem;

    padding: 1.5em 3em;
    border-style: none;
    /* border: 2px solid #0088cc; */
    border: 2px solid #128c7e;
    color: #128c7e;
    font-weight: bold;
  }
  .social-icon{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .homeContent .social-icon a img{
    width: 35px; height: 35px;
    background-size: contain;
    border-style: none;
    border-radius: 0px;

    margin:50px 30px;
    
  }
  .home img {
    width: auto;
    height: 25em;
    background-size:contain;
    /* border: 2px solid black; */
    border-radius: 100%;
  }
  .homeContent{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.homeContent h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    /* margin-top: -2.5em; */
  }
  .homeContent h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: -40px;
    line-height: 1em;
    text-align: center;
  }
  .homeContent p {
    font-family: "roboto";
    /* margin-top: 50px; */
    font-size: 16px;
    text-align: center;
  }
  #about {
    margin-top: 20px;
    background-color: black;
    padding: 20px 15px;
    background-image: none;
  }
  #about h1 {
    font-size: 26px;
  }
  #about p {
    font-size: 16px;
  }

  #education {
    padding-top: 1em;
    margin: 50px 15px;
  }
  #education img {
    display:none;
  }
  .edu-details h1 {
    font-size: 32px;
  }
  .edu-details p{
    font-size: 16px;
    border-left: 2px solid black;
  }

  #works h1 {
    font-size: 26px;
    text-align: center;
  }

  #contact{
    background-color: rgb(13, 13, 13);
  }

  .emailBox{
    background-color:rgb(136, 136, 136);
    border-radius: 10px;
    padding: 5px 10px;
    width: 20rem;
    height: 50px;
    border-style: none;
  }
  .messageBox{
    background-color:rgb(136, 136, 136);
    height: 10em; width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    border-style: none;
  }
  .messageBox:hover,
  .emailBox:hover{
    background-color: whitesmoke;
  }
  #sendbtn{
    border-style: none;
    border-radius: 20px;
  }

}
